<div class="modal-overlay">
  <div class="modal-box">
    <div class="modal-header">
      <h3>Create New Hero</h3>
    </div>
    <button class="close-button" (click)="onCancel.emit()">×</button>

    <form [formGroup]="addHeroForm" (ngSubmit)="onSubmit()">
      <input type="text" placeholder="Name" formControlName="name" required />
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error">
        Name is required.
      </div>

      <select formControlName="ability" required>
        <option value="">Select ability</option>
        <option value="attacker">Attacker</option>
        <option value="defender">Defender</option>
      </select>
      <div
        *ngIf="ability.invalid && (ability.dirty || ability.touched)"
        class="error"
      >
        Ability is required.
      </div>

      <div class="checkbox-group">
        <label
          *ngFor="let color of availableColors"
          [ngStyle]="{ 'background-color': color }"
          class="checkbox-label"
        >
          <input
            type="checkbox"
            [value]="color"
            (change)="onColorChange($event)"
            [checked]="suitColors.value.includes(color)"
          />
          {{ color | titlecase }}
        </label>
      </div>

      <div
        *ngIf="suitColors.invalid && (suitColors.dirty || suitColors.touched)"
        class="error"
      >
        At least one suit color is required.
      </div>
      <input
        type="number"
        placeholder="Starting Power"
        formControlName="startingPower"
        required
      />
      <div
        *ngIf="
          startingPower.invalid &&
          (startingPower.dirty || startingPower.touched)
        "
        class="error"
      >
        Starting Power is required.
      </div>
      <div class="modal-buttons">
        <button class="submit" type="submit" [disabled]="addHeroForm.invalid">
          Create
        </button>
        <button type="button" (click)="resetForm()">Cancel</button>
      </div>
    </form>
  </div>
</div>
