<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <h1>Register</h1>
    <p>Please fill in this form to create a trainer account.</p>
    <hr />

    <label><b>Email</b></label>
    <input placeholder="Enter Email" formControlName="email" />
    <div class="error" *ngIf="email.invalid && email.touched">
      <div *ngIf="email.errors?.['required']">Email is required.</div>
      <div *ngIf="email.errors?.['email']">Invalid email format.</div>
    </div>

    <label><b>Password</b></label>
    <input
      type="password"
      placeholder="Enter Password"
      formControlName="password"
    />
    <div class="error" *ngIf="password.invalid && password.touched">
      <div *ngIf="password.errors?.['required']">Password is required.</div>
      <div *ngIf="password.errors?.['minlength']">
        Password must be at least 8 characters.
      </div>
      <div *ngIf="password.errors?.['pattern']">
        Must contain uppercase, lowercase, digit, and special character.
      </div>
    </div>

    <label><b>Repeat Password</b></label>
    <input
      type="password"
      placeholder="Repeat Password"
      formControlName="confirmPassword"
    />
    <div
      class="error"
      *ngIf="confirmPassword.invalid && confirmPassword.touched"
    >
      <div *ngIf="confirmPassword.errors?.['required']">
        Confirmation is required.
      </div>
    </div>

    <div
      class="error"
      *ngIf="registerForm.errors?.['passwordsMismatch'] && confirmPassword.touched"
    >
      Passwords do not match.
    </div>

    <hr />
    <div *ngIf="successMessage" class="success">
      {{ successMessage }}
    </div>

    <div *ngIf="serverError" class="error">
      {{ serverError }}
    </div>

    <button type="submit" class="registerBtn" [disabled]="registerForm.invalid">
      Register
    </button>
  </div>

  <div class="signInHerf">
    <p>Already have an account? <a routerLink="/login">Sign in</a>.</p>
  </div>
</form>
